
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Genesis:</strong>
  <%= @student.genesis_id %>
</p>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

<h2>Attendance</h2><br>
<table>
<tr>
  <th>Date</th>
  <th>Time In</th>
  <th>Time Out</th>
  <th>Break</th>
  <th>Total Time</th>
</tr>
<% @student.attendance_records.each do |f| %>
  <tr>
    <td><%= f.date.strftime("%m/%d/%Y") %></td>
    <td><%= f.time_in.strftime('%I:%M %p') %></td>
    <td><%= f.time_out.strftime('%I:%M %p') %></td>
    <td><%= f.break %></td>
    <td><%= hour_calc f %></td>
    <td><%= link_to 'Edit', edit_attendance_record_path(f) %></td>
    <td><%= link_to 'Destroy', f, method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New', new_attendance_record_path %><br>


