<h1> Attendance for <%= @date.strftime("%A %D") %></h1>

<%= form_for :roll_call_date, url: roll_call_path, html: {method: :get} do |f| %>
  <%=f.date_select :date %>
  <%= f.submit "Set Attendance Date"%>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr id= "student_<%= student.id.to_s %>">
        <% if student.attendance_records.find_by(date: @date).nil? %>
          <%= render :partial => 'new_form', locals: {:student => student} %>
      
        <% else %>
          <% record = student.attendance_records.find_by(date: @date) %>
          <%= render :partial => 'update_form', locals: {:student => student, :record => record} %>
        <% end %>
      </tr>        
    <% end %>
  </tbody>
</table>



<script type="text/javascript">
  function fourThirty(idName){
    let formDiv = document.getElementById(idName.toString());
    let column = formDiv.getElementsByTagName("td")[2];
    let hour = column.getElementsByTagName('select')[0];
    let minute = column.getElementsByTagName('select')[1];
    hour.value = "16";
    minute.value = "30";
  };

  
</script>