<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <nav>
      <navbar>
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Take Attendance", students_path  %></li>
          <li><%= link_to "View All Attendance", attendance_records_path %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
        
      </navbar>
    </nav>
  </header>

  <body>
    <p id='notice'><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
